@if (imagesService.flaggedImages().length) {
  <p>Skeny v nepořádku ({{ imagesService.flaggedImages().length }}):</p>
  <p>confidenceThreshold: {{ imagesService.confidenceThreshold }}</p>
  <p>sideRatioThreshold: {{ imagesService.sideRatioThreshold }}</p>
  @for (image of imagesService.flaggedImages(); track $index) {
    <div class="wrapper">
      <img
        [src]="image.url"
        [alt]="'preview image ' + ($index + 1)"
        [class.selected]="imagesService.mainImageName === image.name"
        (click)="imagesService.setMainImage(image.name)"
      />
      <div>
        {{ image.name }}
        @if (image.low_confidence) { 🫥 }
        @if (image.bad_sides_ratio) { 📐 }
      </div>
    </div>
  }
} @else {
  <p>Všechny skeny jsou v pořádku.</p>
}

@if (imagesService.notFlaggedImages().length) { <button (click)="toggleMorePreview()">Zobrazit zbytek, co je cajkoš ({{ imagesService.notFlaggedImages().length }})</button> }

@if (toggledMore) {
  @if (imagesService.notFlaggedImages().length) {
    @for (image of imagesService.notFlaggedImages(); track $index) {
      <div class="wrapper">
        <img
          [src]="image.url"
          [alt]="'preview image ' + ($index + 1)"
          [class.selected]="imagesService.mainImageName === image.name"
          (click)="imagesService.setMainImage(image.name)"
        />
        <div>{{ image.name }}</div>
      </div>
    }
  } @else {
    <p>Žádné skeny nejsou v pořádku.</p>
  }
}
