:host {
  width: 24px;
  height: 24px;
  display: inline-block;
  background: conic-gradient(
    #ccc 0%,
    #ccc 60%,
    #999 100%
  );

  // Cut out the middle so it looks like a border
  -webkit-mask: radial-gradient(farthest-side, transparent 60%, black 61%);
  mask: radial-gradient(farthest-side, transparent 60%, black 61%);
  
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
  margin: 0px auto;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}