:host {
  display: flex;
  justify-content: space-between;
  padding: var(--spacing-x2) var(--spacing-x4);
  border-top: 1px solid var(--border-color);
  height: 56px;
}

.left-part svg, .middle-part svg {
  fill: var(--icon-dark);
}

.right-part svg {
  fill: var(--icon-white);
}

.disabled { 
  svg {
    fill: var(--icon-disabled);
  }
}

app-dialog {
  position: absolute;
}
