:host {
  display: flex;
  justify-content: space-between;
  padding: var(--spacing-x2) var(--spacing-x4);
  border-top: 1px solid var(--border-color);
  height: 56px;
}

.left-part svg, .middle-part svg {
  fill: var(--icon-dark);
}

.right-part {
  width: 92px;
}

.disabled { 
  color: var(--text-disabled);

  svg {
    fill: var(--icon-disabled);
  }
}

.mark-ok {
  gap: var(--spacing-x2);
  margin-left: var(--spacing-x3);
}
