:host {
  border-inline: 1px solid gray;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #F3F3F3;
}

#main-container {
  width: 100%;
  height: 100%;
  max-width: 90%;
  max-height: 80%;
  display: flex;
  justify-content: center;
}

app-button-group {
  position: absolute;
  top: 0;
  left: 0;
}
