:host {
  border-inline: 1px solid gray;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

app-button-group {
  position: absolute;
  top: 0;
  right: 0;
}

#canvas {
  width: 100%;
  max-width: 90%;
}
