:host {
  border-inline: 1px solid gray;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #F3F3F3;
}

#main-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

#main-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  z-index: 10;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#main-canvas {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  z-index: 5;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  // display: none;
}

app-button-group {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}
