:host {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  background-color: #787879;
  border-right: 1px solid var(--border-color);
}

#main-container {
  width: 100%;
  height: 100%;
  padding: var(--spacing-x5);
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

#main-image, #main-canvas {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#main-image {
  z-index: 10;
}

#main-canvas {
  z-index: 5;
}
