@mixin font($font-weight, $font-size, $line-height, $color) {
  font-family: 'IBM Plex Sans', sans-serif;
  letter-spacing: 0%;
  font-weight: $font-weight;
  font-size: $font-size;
  line-height: $line-height;
  color: $color;
}

:host {
  display: flex;
  padding: var(--spacing-x4);
}

.top-part {
  label {
    svg {
      fill: var(--icon-dark);
    }
  }
}

#search-group {
  &::placeholder {
    @include font(400, var(--font-size-x2), var(--spacing-x6), var(--text-label-bright));
  }
}
