:host {
  min-width: 250px;
  flex-basis: 250px;
  flex: 1;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-x5);
  border-left: 1px solid var(--border-color);
}

.add-remove-rects {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.property {
  font-size: var(--font-size-x1);

  .inputs-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;

    label {
      display: flex;
      align-items: center;
      gap: 5px;
      font-family: monospace;

      input {
        max-width: 80px;
      }
    }
  }
}
