@mixin font($font-weight, $font-size, $line-height) {
  font-family: 'IBM Plex Sans', sans-serif;
  letter-spacing: 0%;
  font-weight: $font-weight;
  font-size: $font-size;
  line-height: $line-height;
}

:host {
  min-width: 250px;
  flex-basis: 250px;
  flex: 1;
  display: flex;
  flex-direction: column;
  border-left: 1px solid var(--border-color);
}

.rectangle {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-x5);
}

.header {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-x3);
  padding: var(--spacing-x4);
  padding-bottom: 0;
  color: var(--text-base);
  max-width: 100%;

  .title-menu-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    h1 {
      @include font(500, var(--font-size-x3), var(--spacing-x8));
    }

    .menu {
      padding: var(--spacing-x2);

      svg {
        fill: var(--icon-dark);
      }
    }
  }

  .actions {
    display: flex;
    flex-wrap: wrap;
    gap: var(--spacing-x2);
    max-width: 100%;
  }
}

.border-bottom {
  padding-bottom: var(--spacing-x6);
  border-bottom: 1px solid var(--border-color);
}

.action {
  @include font(500, var(--font-size-x1-5), var(--spacing-x3));
  color: var(--text-tertiary);
  padding: var(--spacing-x2) var(--spacing-x3);
  background-color: var(--bg-base);
  border: 1px solid var(--border-tertiary-color);
  border-radius: 4px;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-x2);

  &:hover {
    cursor: pointer;
  }

  svg {
    fill: var(--icon-dark);
  }
}

.disabled { 
  border-color: var(--border-color);
  color: var(--text-disabled);

  &:hover {
    cursor: not-allowed;
  }

  svg {
    fill: var(--icon-disabled);
  }
}

.properties {
  padding-inline: var(--spacing-x4);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-x3);

  h2 {
    @include font(500, var(--font-size-x2), var(--spacing-x6));
    color: var(--text-light);
  }

  .inputs-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--spacing-x2);

    label {
      @include font(400, var(--font-size-x1-5), var(--spacing-x5));
      color: var(--text-light);
      display: flex;
      flex-direction: column;
      gap: var(--spacing-x2);
    }
  }
}

.rotation {
  gap: var(--spacing-x2);
}

input {
  @include font(400, var(--font-size-x2), var(--spacing-x6));
  height: 52px;
  padding: var(--spacing-x2) var(--spacing-x3);
  border: 1px solid var(--border-tertiary-color);
  border-radius: var(--spacing-x1);
  width: 100%;
}

.left-input, .right-input {
  max-width: 105px;
}
