@use '../../../styles' as styles;

:host {
  display: flex;
  flex-direction: column;
  height: calc(100% - 58px);
  width: 100%;
  background-color: var(--bg-bright);
}

::ng-deep .state-dropdown {
  min-width: 240px;
  padding: var(--spacing-x3) var(--spacing-x4);
  background-color: var(--bg-base);
  border: 1px solid var(--primary);
  border-radius: var(--spacing-x2);
  box-shadow: 0 2px var(--spacing-x4) 2px #00000014;

  label {
    display: flex;
    gap: 6px;
    cursor: url('../../../assets/pointer-cursor.png') 6.5 0, pointer;
    margin-bottom: 4px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-x4);
  padding: var(--spacing-x4);
  min-height: 0;

  .top-part {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    height: min-content;

    .left-part {
      display: flex;
      align-items: center;
      gap: var(--spacing-x4);
      z-index: 510; // On click don't close drawer
    }

    label {
      position: relative;

      svg {
        fill: var(--icon-dark);
        position: absolute;
        top: var(--spacing-x3);
        left: var(--spacing-x4);

        &:hover {
          cursor: url('../../../assets/pointer-cursor.png') 6.5 0, pointer;
        }
      }

      input {
        background-color: var(--bg-base);
        padding: var(--spacing-x2) var(--spacing-x4) var(--spacing-x2) 44px;
        width: 340px;
        height: 40px;
        border: 1px solid var(--border-tertiary-color);
        border-radius: var(--spacing-x2);
        @include styles.font(400, var(--font-size-x2), var(--spacing-x6), var(--text-base));

        &:focus {
          border-color: var(--primary);
          outline: none;
        }
        
        &::placeholder {
          @include styles.font(400, var(--font-size-x2), var(--spacing-x6), var(--text-bright));
        }
      }
    }

    .total {
      @include styles.font(400, var(--font-size-x2), var(--spacing-x6), var(--text-light));
    }
  }

  .table-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 0;
    z-index: 510; // On click don't close drawer

    .table-x-scroll {
      display: flex;
      flex-direction: column;
      overflow-x: auto;
      scrollbar-width: none;
      border-radius: var(--spacing-x2) var(--spacing-x2) 0 0;
      

      .table-body-y-scroll, table {
        width: max-content;
        min-width: 100%;
        table-layout: auto;
        background-color: var(--bg-base);
      }
    }

    .table-body-y-scroll {
      overflow-x: hidden;
      overflow-y: auto;
      border-radius: 0 0 var(--spacing-x2) var(--spacing-x2);
    }

    table {
      border-collapse: separate;
      border-spacing: 0;

      thead {
        tr {
          background-color: var(--border-color);

          th {
            @include styles.font(500, var(--font-size-x1-5), var(--spacing-x4), var(--text-base));
            text-align: left;
            padding-block: var(--spacing-x2);
            background-color: var(--border-color);

            &:first-child {
              border-radius: var(--spacing-x2) 0 0 0;
            }

            &:last-child {
              border-radius: 0 var(--spacing-x2) 0 0;
            }
          }

          .state-dropdown-title {
            @include styles.font(500, var(--font-size-x1-5), var(--spacing-x4), var(--text-base));
            display: inline-flex;
            align-items: center;
            gap: var(--spacing-x1);
            cursor: url('../../../assets/pointer-cursor.png') 6.5 0, pointer;
            user-select: none;
          }

          .state-icon-wrapper {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;

            .state-icon {
              font-size: 10px;
              transition: transform 0.2s ease;
              fill: var(--primary);
            }

            .active {
              position: absolute;
              top: 0;
              right: 0;
              width: 5px;
              height: 5px;
              border-radius: 50%;
              outline: 1px solid var(--border-light);
              background-color: var(--status-icon-success);
            }
          }
        }
      }

      tbody {
        .no-results {
          td {
            width: 100%;
            padding-inline: var(--spacing-x6);
            text-align: center;
            font-style: italic;
          }
        }

        tr {
          background-color: var(--bg-base);

          &:last-child {
            td:first-child {
              border-radius: 0 0 0 var(--spacing-x2);
            }

            td:last-child {
              border-radius: 0 0 var(--spacing-x2) 0;
            }
          }

          &:not(:first-child) {
            td {
              border-top: 1px solid var(--border-light);
            }
          }

          &.active {
            outline: 1px solid var(--primary);
            outline-offset: -1px;
            border-radius: var(--spacing-x2);

            &:last-child {
              border-radius: var(--spacing-x2);
            }
            
            &:first-child, &:nth-child(2) {
              font-weight: 500;
            }
          }

          td {
            @include styles.font(400, var(--font-size-x1-5), var(--spacing-x5), var(--text-base));
            padding-block: var(--spacing-x2);

            .user-name {
              display: flex;
              align-items: center;
              gap: var(--spacing-x2);
              @include styles.font(400, var(--font-size-x1-5), var(--spacing-x5), var(--text-base));

              svg {
                fill: var(--primary);
              }
            }

            .tags {
              display: flex;
              align-items: center;
              gap: var(--spacing-x2);
              width: fit-content;
            }

            .tag {
              display: flex;
              justify-content: center;
              align-items: center;
              gap: var(--spacing-x1);
              width: fit-content;
              border-radius: var(--spacing-x1);
              padding-inline: var(--spacing-x2);
            }

            .title-count {
              padding-block: var(--spacing-x1);
              background-color: var(--bg-bright);
              @include styles.font(400, var(--font-size-x2), var(--spacing-x4), var(--text-base));
            }

            .user {
              padding-block: var(--spacing-x0-5);
              background-color: var(--bg-bright);
              @include styles.font(400, var(--font-size-x1-5), var(--spacing-x5), var(--text-base));
            }

            .count {
              padding-block: var(--spacing-x0-7-5);
              border: 1px solid var(--border-color);
              @include styles.font(500, var(--font-size-x1-5), var(--spacing-x4), var(--text-base));
            }

            .permission {
              padding-block: var(--spacing-x1);
              @include styles.font(500, var(--font-size-x1-5), var(--spacing-x4), var(--text-base));
            }

            .state {
              @include styles.font(500, var(--font-size-x1-5), var(--spacing-x4), var(--text-base));
              padding: var(--spacing-x1) var(--spacing-x2);
            }

            .info {
              color: #08203C;
              background-color: #007BFF1A;

              svg {
                fill: #0C3D77;
              }
            }

            .success {
              color: #00310D;
              background-color: #34C7591A;

              svg {
                fill: #3F764D;
              }
            }
            
            .pending {
              color: #362000;
              background-color: #FF95001A;

              svg {
                fill: #775A32;
              }
            }

            .error {
              color: #390400;
              background-color: #FF3A301A;

              svg {
                fill: #853D38;
              }
            }

            .date {
              @include styles.font(400, var(--font-size-x1-5), var(--spacing-x5), var(--text-base));
            }

            .time {
              @include styles.font(400, var(--font-size-x1-5), var(--spacing-x5), var(--text-light));
            }
          }
        }

        .icon-btn:hover {
          background: rgba(0, 0, 0, 0.06);
        }

        .icon-btn.danger:hover {
          background: rgba(255, 0, 0, 0.10);
        }
      }

      tr {
        th, td {
          max-width: 1px;
          overflow-x: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          padding-inline: var(--spacing-x3-5);

          &:first-child {
            padding-inline: var(--spacing-x6) var(--spacing-x3-5);
          }

          &:last-child {
            padding-inline: var(--spacing-x3-5) var(--spacing-x6);
          }
        }
      }

      // Action buttons
      tbody {
        .actions-cell {
          padding: 0 var(--spacing-x2-5) 0 var(--spacing-x5) !important;
        }

        .actions {
          display: flex;
          align-items: center;

          .action-wrapper {
            padding: var(--spacing-x2) var(--spacing-x1);

            &:hover {
              cursor: url('../../../assets/pointer-cursor.png') 6.5 0, pointer;

              .action {
                border-color: var(--border-tertiary-hover);
                outline: 5px solid var(--border-light);

                svg {
                  fill: var(--primary);
                }
              }
            }
          }

          .action {
            width: var(--spacing-x8);
            height: var(--spacing-x8);
            padding: var(--spacing-x2);
          }
        }
      }

      .clickable:hover:not(:has(.action-wrapper:hover)) {
        cursor: url('../../../assets/pointer-cursor.png') 6.5 0, pointer;
        background-color: #F9FAFB;
        position: relative;
        z-index: 512;
        box-shadow: 0px 0px 12px 2px #0000000A, 0px 0px 4px 0px #00000005;

        &:last-child {
          border-radius: 0 0 var(--spacing-x2) var(--spacing-x2);
        }

        td {
          border-bottom: 1px solid var(--border-light);
        }

        + tr td {
          border-top: none;
        }

        .icon-btn {
          background: #EEF1F4;

          &:hover {
            background: var(--bg-main-light);
          }
        }
      }

      &:not(.clickable):hover {
        .icon-btn {
          background: var(--bg-base);

          &:hover {
            background: var(--bg-main-light);
          }
        }
      }
    }
  }
}
