@mixin font($font-weight, $font-size, $line-height, $color) {
  font-family: 'IBM Plex Sans', sans-serif;
  letter-spacing: 0%;
  font-weight: $font-weight;
  font-size: $font-size;
  line-height: $line-height;
  color: $color;
}

:host {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100dvh;
  width: 100%;
  max-width: calc(100dvw - 250px);
  background-color: var(--bg-main-light);

  .tooltip {
    position: absolute;
    padding: var(--spacing-x2) var(--spacing-x3);
    border-radius: var(--spacing-x1);
    border: 1px solid var(--border-light);
    background-color: var(--bg-base);
    box-shadow: 0 2px var(--spacing-x4) 2px #00000014;
    @include font(400, var(--font-size-x1), var(--spacing-x4), var(--text-base));
    white-space: nowrap;

    z-index: 515;
    opacity: 0;
    pointer-events: none;
    transition: opacity .12s ease;
  }

  .tooltip.show {
    opacity: 1;
  }
}

::ng-deep .state-dropdown {
  min-width: 240px;
  padding: var(--spacing-x3) var(--spacing-x4);
  background-color: var(--bg-base);
  border: 1px solid var(--primary);
  border-radius: var(--spacing-x1);
  box-shadow: 0 2px var(--spacing-x4) 2px #00000014;

  label {
    display: flex;
    gap: 6px;
    cursor: pointer;
    margin-bottom: 4px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.top-panel {
  display: flex;
  align-items: center;
  gap: var(--spacing-x3);
  padding: var(--spacing-x3) var(--spacing-x4);
  background-color: var(--bg-base);
  border-left: 1px solid var(--border-light);
  z-index: 510;

  svg {
    fill: var(--icon-dark);

    &:hover {
      cursor: pointer;
    }
  }

  h1 {
    @include font(500, var(--font-size-x3), var(--spacing-x8), var(--text-base));
  }
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-x4);
  padding: var(--spacing-x4);
  min-height: 0;

  .top-part {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    height: min-content;

    .left-part {
      display: flex;
      align-items: center;
      gap: var(--spacing-x2);
      z-index: 510; // On click don't close drawer
    }

    label {
      position: relative;

      svg {
        fill: var(--icon-dark);
        position: absolute;
        top: var(--spacing-x3);
        left: var(--spacing-x4);

        &:hover {
          cursor: pointer
        }
      }

      input {
        background-color: var(--bg-base);
        padding: var(--spacing-x2) var(--spacing-x4) var(--spacing-x2) 44px;
        width: 280px;
        height: 40px;
        border: 1px solid var(--border-tertiary-color);
        border-radius: var(--spacing-x1);
        @include font(400, var(--font-size-x2), var(--spacing-x6), var(--text-base));

        &:focus {
          border-color: var(--primary);
          outline: none;
        }
        
        &::placeholder {
          @include font(400, var(--font-size-x2), var(--spacing-x6), var(--text-label-bright));
        }
      }
    }

    .total {
      @include font(400, var(--font-size-x1-5), var(--spacing-x5), var(--text-light));
    }
  }

  .table-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 0;
    z-index: 510; // On click don't close drawer

    .table-x-scroll {
      display: flex;
      flex-direction: column;
      overflow-x: auto;
      scrollbar-width: none;
      

      .table-body-y-scroll, table {
        width: max-content;
        min-width: 100%;
        table-layout: auto;
      }
    }

    .table-body-y-scroll {
      overflow-x: hidden;
      overflow-y: auto;
    }

    table {
      border-collapse: separate;
      border-spacing: 0;

      thead {
        tr {
          background-color: var(--border-color);

          th {
            @include font(500, var(--font-size-x1-5), var(--spacing-x4), var(--text-base));
            text-align: left;
            padding-block: var(--spacing-x2);
            background-color: var(--border-color);

            &:first-child {
              border-radius: var(--spacing-x1) 0 0 0;
            }

            &:last-child {
              border-radius: 0 var(--spacing-x1) 0 0;
            }
          }

          .state-dropdown-title {
            @include font(500, var(--font-size-x1-5), var(--spacing-x4), var(--text-base));
            display: inline-flex;
            align-items: center;
            gap: var(--spacing-x2);
            cursor: pointer;
            user-select: none;
          }

          .chevron {
            font-size: 10px;
            transition: transform 0.2s ease;
            fill: var(--primary);
          }

          .chevron.open {
            transform: rotate(180deg);
          }
        }
      }

      tbody {
        .no-results {
          td {
            width: 100%;
            padding-inline: var(--spacing-x6);
            text-align: center;
            font-style: italic;
          }
        }

        tr {
          background-color: var(--bg-base);
          border-bottom: 1px solid var(--border-light);

          &:last-child {
            td:first-child {
              border-radius: 0 0 0 var(--spacing-x1);
            }

            td:last-child {
              border-radius: 0 0 var(--spacing-x1) 0;
            }
          }

          &:not(:last-child) {
            td {
              border-bottom: 1px solid var(--border-light);
            }
          }

          &.active {
            outline: 1px solid var(--primary);
            outline-offset: -1px;

            &:last-child {
              border-radius: 0 0 var(--spacing-x1) var(--spacing-x1);
            }
            
            &:first-child, &:nth-child(2) {
              font-weight: 500;
            }
          }

          td {
            @include font(400, var(--font-size-x1-5), var(--spacing-x5), var(--text-base));
            padding-block: var(--spacing-x3);

            .tag {
              display: flex;
              gap: var(--spacing-x2);
              width: fit-content;
              @include font(500, var(--font-size-x1-5), var(--spacing-x4), var(--text-base));
              border-radius: var(--spacing-x1);
              padding: var(--spacing-x1) var(--spacing-x2);

              .tag-label {
                @include font(500, var(--font-size-x1-5), var(--spacing-x4), var(--text-base));
              }

              svg {
                background-color: transparent;
              }
            }

            .common {
              border: 1px solid var(--border-color);
            }

            .info {
              color: #08203C;
              background-color: #007BFF1A;
              .tag-label { color: inherit; }
            }

            .success {
              fill: #3F764D;
              color: #00310D;
              background-color: #34C7591A;
              .tag-label { color: inherit; }
            }
            
            .pending {
              fill: #775A32;
              color: #362000;
              background-color: #FF95001A;
              .tag-label { color: inherit; }
            }

            .error {
              fill: #853D38;
              color: #390400;
              background-color: #FF3A301A;
              .tag-label { color: inherit; }
            }

            .date {
              @include font(400, var(--font-size-x1-5), var(--spacing-x5), var(--text-base));
            }

            .time {
              @include font(400, var(--font-size-x1-5), var(--spacing-x5), var(--text-light));
            }
          }

          .title-id {
            @include font(400, var(--font-size-x1-5), var(--spacing-x5), var(--text-light));
          }

          .tags {
            display: flex;
            gap: var(--spacing-x2);
          }
        }

        .icon-btn:hover {
          background: rgba(0, 0, 0, 0.06);
        }

        .icon-btn.danger:hover {
          background: rgba(255, 0, 0, 0.10);
        }
      }

      tr {
        th, td {
          max-width: 1px;
          overflow-x: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          padding-inline: var(--spacing-x2);

          &:first-child {
            padding-inline: var(--spacing-x6) var(--spacing-x2);
          }

          &:last-child {
            padding-inline: var(--spacing-x2) var(--spacing-x6);
          }
        }
      }

      // Action butons
      tbody {
        tr {
          position: relative;
        }

        td.row-actions-cell {
          width: 0;
          padding: 0;
          border: 0;
        }

        /* the overlay */
        .row-actions {
          position: absolute;
          top: 50%;
          right: 1px;
          transform: translateY(-50%);

          display: flex;
          align-items: center;

          border-radius: var(--spacing-x1);

          opacity: 0;
          pointer-events: none;

          .empty-space {
            width: var(--spacing-x4);
            height: var(--spacing-x9);
            color: transparent;
          }
        }

        /* show on hover */
        tr:hover .row-actions {
          opacity: 1;
          pointer-events: auto;
        }

        .icon-btn {
          width: var(--spacing-x10);
          height: var(--spacing-x9);
          border: 0;
          border-radius: var(--spacing-x1);
          cursor: pointer;

          display: inline-flex;
          align-items: center;
          justify-content: center;

          svg {
            fill: var(--icon-dark);
          }
        }
      }

      .clickable:hover {
        cursor: pointer;
        // background-color: #8099B30D;
        background-color: #EEF1F4;
        outline: 1px solid var(--primary);
        outline-offset: -1px;

        &:last-child {
          border-radius: 0 0 var(--spacing-x1) var(--spacing-x1);
        }

        td {
          &:nth-last-child(3) {
            border-right: 1px solid var(--primary);
          }
        }

        .no-border-right {
          border-right-width: 0px !important;
        }

        .row-actions {
          .empty-space.gradient {
            background: linear-gradient(to left, #EEF1F4, transparent);
          }

          .empty-space.fill, .empty-space.last {
            background: #EEF1F4;
          }
        }

        .icon-btn {
          background: #EEF1F4;

          &:hover {
            background: var(--bg-main-light);
          }
        }
      }

      &:not(.clickable):hover {
        .row-actions {
          .empty-space.gradient {
            background: linear-gradient(to left, var(--bg-base), transparent);
          }

          .empty-space.fill, .empty-space.last {
            background: var(--bg-base);
          }
        }

        .icon-btn {
          background: var(--bg-base);

          &:hover {
            background: var(--bg-main-light);
          }
        }
      }
    }
  }
}
