@if (imagesService.mode() === 'full') {
  <div class="add-remove-rects">
    <button
      class="add-rect"
      [disabled]="imagesService.currentRects.length >= imagesService.maxRects"
      (click)="imagesService.addRect()"
    >+ Add rect</button>
    @if (!!imagesService.selectedRect) {
      <button
        class="remove-rect"
        (click)="imagesService.removeRect()"
      >- Remove rect</button>
    }
  </div>

  @if (!!imagesService.selectedRect) {
    <div class="property position">
      Position
      <div class="inputs-wrapper">
        <div class="left-input-wrapper">
          <label>
            X
            <input
              class="left-input"
              type="number"
              [min]="0"
              [max]="1 - imagesService.selectedRect.width"
              [(ngModel)]="imagesService.selectedRect.x"
              (ngModelChange)="imagesService.onRectInputChange()"
            />
          </label>
        </div>
        <div class="right-input-wrapper">
          <label>
            Y
            <input
              class="right-input"
              type="number"
              [min]="0"
              [max]="1 - imagesService.selectedRect.height"
              [(ngModel)]="imagesService.selectedRect.y"
              (ngModelChange)="imagesService.onRectInputChange()"
            />
          </label>
        </div>
      </div>
    </div>

    <div class="property dimentions">
      Dimensions
      <div class="inputs-wrapper">
        <div class="left-input-wrapper">
          <label>
            W
            <input
              class="left-input"
              type="number"
              [(value)]="imagesService.selectedRect.width"
            />
          </label>
        </div>
        <div class="right-input-wrapper">
          <label>
            H
            <input
              class="right-input"
              type="number"
              [(value)]="imagesService.selectedRect.height"
            />
          </label>
        </div>
      </div>
    </div>

    <div class="property rotation">
      Rotation
      <div class="inputs-wrapper">
        <div class="left-input-wrapper">
          <label>
            R
            <input
              class="left-input"
              type="number"
              [(value)]="imagesService.selectedRect.angle"
            />
          </label>
        </div>
      </div>
    </div>
  }
}
