:host {
  min-width: 240px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.add-remove-rects {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.property {
  font-size: 12px;

  .inputs-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;

    label {
      display: flex;
      align-items: center;
      gap: 5px;
      font-family: monospace;

      input {
        max-width: 80px;
      }
    }
  }
}
