<div class="header">
  <div class="title-menu-wrapper">
    <h1>Skeny k revizi</h1>
    <app-menu-primary />
  </div>
  <div class="crops">
    <span
      class="filter"
      [class.selected-filter]="imagesService.selectedFilter === 'all'"
      (click)="clickFilter('all')"
    >Vše <span class="filter-number">({{ imagesService.images().length }})</span></span>
    <span
      class="filter"
      [class.selected-filter]="imagesService.selectedFilter === 'flagged'"
      (click)="clickFilter('flagged')"
    >Podezřelé <span class="filter-number">({{ imagesService.flaggedImages().length }})</span></span>
    <span
      class="filter"
      [class.selected-filter]="imagesService.selectedFilter === 'edited'"
      (click)="clickFilter('edited')"
    >Upravené <span class="filter-number">({{ imagesService.editedImages().length }})</span></span>
    <span
      class="filter"
      [class.selected-filter]="imagesService.selectedFilter === 'ok'"
      (click)="clickFilter('ok')"
    >OK <span class="filter-number">({{ imagesService.notFlaggedImages().length }})</span></span>
  </div>
</div>

<div class="thumbnails-wrapper">
  @if (imagesService.displayedImages().length) {
    @for (image of imagesService.displayedImages(); track $index) {
      @let mainImageItem = imagesService.mainImageItem();
      <div
        class="thumbnail-wrapper"
        [class.selected]="mainImageItem._id === image._id"
        (click)="clickThumbnail(image)"
      >
        <img #lazyImg [attr.data-id]="image._id" />
        <span
          class="status-icon"
          [ngClass]="getStatus(image)"
          [attr.data-tooltip]="getStatusIconTooltip(image)"
        ></span>
      </div>
    }
  } @else {
    @if (imagesService.loadingLeft) { <app-loader /> }
    @else if (imagesService.displayedImages().length) { <p>Nebyly nalezeny žádné skeny.</p> }
  }
</div>
