@mixin font($font-weight, $font-size, $line-height, $color) {
  font-family: 'IBM Plex Sans', sans-serif;
  letter-spacing: 0%;
  font-weight: $font-weight;
  font-size: $font-size;
  line-height: $line-height;
  color: $color;
}

:host {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: -593px;
  height: 100%;
  min-width: 593px;
  z-index: 520;
  background-color: var(--bg-base);
  border-right: 1px solid var(--border-color);
  box-shadow: 1px 0 24px 0 #0000001A;  
  visibility: hidden;
  transition: right .3s ease-out, visibility .3s ease-out;
}

:host(.open) {
  right: 0;
  visibility: visible;
}

.drawer-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing-x3) var(--spacing-x4);

  h2 {
    @include font(450, var(--font-size-x3), var(--spacing-x8), var(--text-base));
  }

  .drawer-actions {
    display: flex;
    align-items: center;
    gap: var(--spacing-x4);

    .action {
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      
      svg {
        fill: var(--icon-gray);
      }
    }

    .icon-button-actions {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: var(--spacing-x3);

      .icon-button {
        background-color: var(--bg-base);
        padding: var(--spacing-x2);
        border-radius: var(--spacing-x1);
        border: 1px solid var(--border-tertiary-color);

        svg {
          fill: var(--icon-dark);
        }
      };
    }
  }
}

.drawer-body {
  border-top: 1px solid var(--border-color);
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: auto;

  .content-wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-x2);
    padding: var(--spacing-x3) var(--spacing-x4);

    .many-blocks {
      display: flex;
      gap: 40px;
    }

    .block {
      display: flex;
      flex-direction: column;
      gap: var(--spacing-x1);
      padding-block: var(--spacing-x2);

      label, .label {
        display: flex;
        align-items: center;
        gap: var(--spacing-x2);
        @include font(400, var(--font-size-x1), var(--spacing-x5), var(--text-light));

        svg {
          fill: var(--primary);

          &:hover { cursor: pointer }
        }
      }

      label {
        position: relative;

        svg {
          fill: var(--icon-dark);
          position: absolute;
          top: var(--spacing-x4);
          left: var(--spacing-x4);
        }

        input {
          background-color: var(--bg-base);
          padding: var(--spacing-x2) var(--spacing-x4) var(--spacing-x2) 44px;
          margin-top: var(--spacing-x1);
          width: 100%;
          border: 1px solid var(--border-tertiary-color);
          border-radius: var(--spacing-x1);
          @include font(400, var(--font-size-x2), var(--spacing-x6), var(--text-base));

          &:focus {
            border-color: var(--primary);
            outline: none;
          }

          &::placeholder {
            @include font(400, var(--font-size-x2), var(--spacing-x6), var(--text-label-bright));
          }
        }

        #user-fullname {
          width: 50%;
        }
      }

      label.above-input {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: var(--spacing-x2);

        input {
          margin-top: 0;
          padding: var(--spacing-x2) var(--spacing-x4);
        }

        #new-group-name {
          width: 50%;
        }
      }

      .label.with-remove-all {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .remove-all {
          padding: 0;
          margin-bottom: var(--spacing-x1-5);
        }
      }

      label.select {
        width: max-content;
      }

      .error {
        @include font(400, var(--font-size-x1-5), var(--spacing-x6), var(--text-destructive));
      }

      .copy-wrap {
        position: relative;
        display: inline-flex;
        align-items: center;

        svg {
          fill: var(--primary);
          &:hover { cursor: pointer; }
        }

        .tooltip {
          position: absolute;
          top: -12px;
          left: 460%;
          transform: translateX(-50%);
          padding: var(--spacing-x2) var(--spacing-x3);
          border-radius: var(--spacing-x1);
          border: 1px solid var(--border-light);
          background-color: var(--bg-base);
          box-shadow: 0 2px var(--spacing-x4) 2px #00000014;
          @include font(400, var(--font-size-x1), var(--spacing-x4), var(--text-base));
          white-space: nowrap;

          opacity: 0;
          pointer-events: none;
          transition: opacity .12s ease;
        }

        .tooltip.show {
          opacity: 1;
        }
      }

      .value {
        @include font(400, var(--font-size-x2), var(--spacing-x6), var(--text-base));
        display: flex;
        flex-direction: column;
        gap: var(--spacing-x2);

        .tag {
          display: flex;
          gap: var(--spacing-x2);
          width: fit-content;
          @include font(500, var(--font-size-x1-5), var(--spacing-x4), var(--text-base));
          border-radius: var(--spacing-x1);
          padding: var(--spacing-x1) var(--spacing-x2);
        }

        .info {
          color: #08203C;
          background-color: #007BFF1A;
          .tag-label { color: inherit; }
        }

        .success {
          fill: #3F764D;
          color: #00310D;
          background-color: #34C7591A;
          .tag-label { color: inherit; }
        }
        
        .pending {
          fill: #775A32;
          color: #362000;
          background-color: #FF95001A;
          .tag-label { color: inherit; }
        }

        .error {
          fill: #853D38;
          color: #390400;
          background-color: #FF3A301A;
          .tag-label { color: inherit; }
        }

        .date {
          @include font(400, var(--font-size-x2), var(--spacing-x6), var(--text-base));
        }

        .time {
          @include font(400, var(--font-size-x2), var(--spacing-x6), var(--text-light));
        }

        .button {
          width: fit-content;
          padding-right: var(--spacing-x6);
        }
      }

      .value.date-time {
        display: flex;
        flex-direction: row;
      }

      .user-to-read {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-block: var(--spacing-x2);
        
        &:not(:last-child) {
          border-bottom: 1px solid var(--border-color);
        }

        .user-fullname {
          @include font(500, var(--font-size-x1-5), var(--spacing-x4), var(--text-base));
        }

        .tag {
          display: flex;
          gap: var(--spacing-x2);
          width: fit-content;
          @include font(500, var(--font-size-x1-5), var(--spacing-x4), var(--text-base));
          border-radius: var(--spacing-x1);
          padding: var(--spacing-x1) var(--spacing-x2);

          .tag-label {
            @include font(500, var(--font-size-x1-5), var(--spacing-x4), var(--text-base));
          }

          svg {
            background-color: transparent;
          }
        }

        .common {
          border: 1px solid var(--border-color);
        }

        .info {
          color: #08203C;
          background-color: #007BFF1A;
          .tag-label { color: inherit; }
        }

        .success {
          fill: #3F764D;
          color: #00310D;
          background-color: #34C7591A;
          .tag-label { color: inherit; }
        }
        
        .pending {
          fill: #775A32;
          color: #362000;
          background-color: #FF95001A;
          .tag-label { color: inherit; }
        }

        .error {
          fill: #853D38;
          color: #390400;
          background-color: #FF3A301A;
          .tag-label { color: inherit; }
        }
      }

      .add-permission-wrapper {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-x1);
        margin-bottom: var(--spacing-x1-5);

        .main {
          display: flex;
          align-items: center;
          gap: var(--spacing-x3);
        }
      }

      .permissions-row {
        width: 100%;
        border-radius: var(--spacing-x1);
        background-color: #8099B31A;

        .name {
          @include font(500, var(--font-size-x2), var(--spacing-x6), var(--text-base));
        }

        .permissions {
          display: flex;
          flex-direction: column;
          gap: var(--spacing-x2);

          .permission {
            position: relative;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            width: 100%;
            @include font(500, var(--font-size-x1-5), var(--spacing-x4), var(--text-secondary));
            cursor: pointer;

            input {
              appearance: none;
              -webkit-appearance: none;
              
              width: initial;
              margin: 0;
              padding: 0;
              width: var(--spacing-x4);
              height: var(--spacing-x4);
              border-radius: var(--spacing-x1);
              cursor: pointer;
              background-color: var(--bg-base);
              transition: background-color 0.2s ease;
              
              &:hover {
                border-color: var(--primary);
              }

              &:focus {
                border-color: var(--primary);
                outline: none;
              }

              &:checked {
                background-color: var(--primary);
                border-color: var(--primary);
              }
            }

            .check-mark {
              fill: var(--icon-white);
              position: absolute;
              top: 4.5px;
              left: 3px;
            }

            svg {
              position: initial;
              fill: var(--icon-gray);
            }
          }
        }
      }

      .permissions-row.not-edit {
        padding: var(--spacing-x3) var(--spacing-x4);
        display: flex;
        justify-content: space-between;
        align-items: center;

        .icons {
          display: flex;
          align-items: center;
          gap: var(--spacing-x2);

          svg {
            fill: var(--icon-gray);
          }
        }
      }

      .permissions-row.edit {
        padding-inline: var(--spacing-x4);
        padding-block: var(--spacing-x3) var(--spacing-x5);
        position: relative;
        display: flex;
        flex-direction: column;
        gap: var(--spacing-x4);



        .remove {
          position: absolute;
          top: var(--spacing-x2);
          right: var(--spacing-x2);
          display: flex;
          justify-content: center;
          align-items: center;
          padding: var(--spacing-x2);
          border-radius: var(--spacing-x1);
          background-color: var(--bg-base);
          border: 1px solid var(--border-tertiary-color);

          &:hover {
            cursor: pointer;
          }
          
          svg {
            fill: var(--icon-dark);
          }
        }
      }
    }

    & > :first-child {
      padding-top: var(--spacing-x3);
    }

    .block.permissions {
      gap: var(--spacing-x2);

      .permission-error {
        margin-top: -4px;
      }
    }
  }
}

.drawer-footer {
  display: flex;
  justify-content: center;
  gap: var(--spacing-x3);
  padding: var(--spacing-x3) var(--spacing-x6);
  border-top: 1px solid var(--border-color);
}
