:host {
  height: 22px;
}

.help-bubble-container {
  position: relative;
  display: inline-block;
}

.help-icon {
  cursor: pointer;
  width: 20px;
  height: 20px;
}

.help-text-bubble {
  position: absolute;
  top: 30px;
  right: 0;
  background: #fff;
  color: #333;
  padding: 20px 30px;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  min-width: 40dvw;
  max-width: 90dvw;
  max-height: 90dvh;
  z-index: 10;
  display: flex;
  flex-direction: column;
  gap: 15px;
  overflow: auto;

  .help-text-wrapper {
    .title, .description {
      font-size: 14px;
      line-height: 20px;
    }

    .title {
      font-weight: 700;
    }

    .description {
      word-break: break-word;
      overflow-wrap: break-word;
      hyphens: auto;
    }
  }
}

@media (max-width: 767.98px) { 
  .help-text-bubble {
    position: fixed;
    left: 50%;
    top: 54px;
    transform: translateX(-50%);
    width: 90dvw;
  }
}
