@mixin font($font-weight, $font-size, $line-height) {
  font-family: 'IBM Plex Sans', sans-serif;
  letter-spacing: 0%;
  font-weight: $font-weight;
  font-size: $font-size;
  line-height: $line-height;
}

.toast-host {
  position: absolute;
  top: var(--spacing-x4);
  right: var(--spacing-x4);
  z-index: 9999;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-x2-5);
  width: min(400px, calc(100vw - 32px));
  pointer-events: none;
}

.toast {
  pointer-events: auto;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  gap: var(--spacing-x3);
  padding: var(--spacing-x3-5) var(--spacing-x3);
  border-radius: var(--spacing-x1);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.18);
  background: var(--bg-base);
  border-left: 6px solid;
}

.toast__msg {
  @include font(450, var(--font-size-x1-5), var(--spacing-x5));
  color: var(--text-secondary);
}

.toast__close {
  appearance: none;
  border: 0;
  background: transparent;
  color: var(--icon-black);
  cursor: pointer;
  padding: 2px 6px;
  border-radius: 10px;
}

/* Types */
.toast--info {
  border-left-color: #60a5fa;
}

.toast--success {
  border-left-color: var(--status-icon-success);
}

.toast--error {
  border-left-color: var(--status-icon-error);
}
