:host {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  overflow-x: auto;
}

.thumbnails-flagged-wrapper, .thumbnails-notflagged-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

.thumbnail-wrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

img:hover {
  cursor: pointer;
}

.selected {
  outline: 4px solid #FF10F0;
}
