@let mode = imagesService.mode();
@let isSingle = mode === 'single';
@let customCropped = imagesService.customCroppedImages();
@let flaggedImages = isSingle
  ? imagesService.flaggedCroppedImages()
  : imagesService.flaggedImages();
@let notFlaggedImages = isSingle
  ? imagesService.notFlaggedCroppedImages()
  : imagesService.notFlaggedImages();

<!-- CUSTOM CROPPED IMAGES -->
@if (isSingle && customCropped.length) {
  <div class="thumbnails-customCropped-wrapper">
    <p>Vlastní přidané ořezy - obdélníky ({{ customCropped.length }}):</p>
    @for (image of customCropped; track $index) {
      <div class="thumbnail-wrapper">
        <img
          [src]="image.url"
          [class.selected]="
            imagesService.mainImageItem().name === image.name &&
            imagesService.mainImageItem().crop_part === image.crop_part
          "
          (click)="imagesService.setMainImage(image)"
        />
      </div>
    }
  </div>
 }

<!-- FLAGGED IMAGES -->
<div class="thumbnails-flagged-wrapper">
  @if (flaggedImages.length) {
    <p>Skeny v nepořádku ({{ flaggedImages.length }}):</p>

    @for (image of flaggedImages; track $index) {
      <div class="thumbnail-wrapper">
        <img
          [src]="image.url"
          [class.selected]="
            imagesService.mainImageItem().name === image.name &&
            imagesService.mainImageItem().crop_part === image.crop_part
          "
          (click)="imagesService.setMainImage(image)"
        />
        <div class="thumbnail-icons">
          @if (image.low_confidence) { 🫥 }
          @if (image.bad_sides_ratio) { 📐 }
        </div>
      </div>
    }
  } @else {
    @if (imagesService.loading) { <p>Skeny se načítají...</p> }
    @else if (!customCropped.length) { <p>Nejsou žádné skeny, co by nebyly v pořádku.</p> }
  }
</div>


<!-- TOGGLE MORE -->
@if (notFlaggedImages.length) {
  <button (click)="toggleMorePreview()">
    {{ imagesService.toggledMore ? 'Skrýt' : 'Zobrazit' }}
    skeny, co jsou cajkoš ({{ notFlaggedImages.length }})
  </button>
}


<!-- NOTFLAGGED IMAGES -->
<div class="thumbnails-notflagged-wrapper">
  @if (imagesService.toggledMore) {
    @if (notFlaggedImages.length) {
      @for (image of notFlaggedImages; track $index) {
        <div class="thumbnail-wrapper">
          <img
            [src]="image.url"
            [class.selected]="
              imagesService.mainImageItem().name === image.name &&
              imagesService.mainImageItem().crop_part === image.crop_part
            "
            (click)="imagesService.setMainImage(image)"
          />
        </div>
      }
    } @else {
      <p>Žádné skeny nejsou v pořádku.</p>
    }
  }
</div>
