.menu-primary-container {
  position: relative;
  display: inline-block;
}

.menu-primary-icon {
  cursor: pointer;
  padding: var(--spacing-x2);

  svg {
    fill: var(--icon-dark);
  }
}

.menu-primary-bubble {
  position: absolute;
  top: var(--spacing-x1);
  left: 0;
  background-color: var(--bg-base);
  border: 1px solid var(--border-tertiary-pressed);
  border-radius: var(--spacing-x1);
  box-shadow: 0 2px 16px 2px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;

  .menu-item {
    display: flex;
    align-items: center;
    gap: var(--spacing-x4);
    min-width: fit-content;
    white-space: nowrap;
    word-break: keep-all;
    overflow-wrap: normal;
    hyphens: none;
    padding: var(--spacing-x4) var(--spacing-x6);
    padding-right: var(--spacing-x7);
    font-family: 'IBM Plex Sans', sans-serif;
    letter-spacing: 0%;
    font-weight: 450;
    font-size: var(--spacing-x4);
    line-height: var(--spacing-x6);
    color: var(--text-tertiary);

    svg {
      fill: var(--text-tertiary);
    }

    &:hover {
      cursor: pointer;
      background-color: var(--bg-main-light);
    }
  }

  .red {
    color: var(--text-destructive);

    svg {
      fill: var(--text-destructive);
    }
  }

  .first {
    border-radius: var(--spacing-x1) var(--spacing-x1) 0 0;
  }

  .last {
    border-radius: 0 0 var(--spacing-x1) var(--spacing-x1);
  }
}

.clicked {
  border: 1px solid var(--border-tertiary-pressed);
}
