:root {
  --left: #00BFFF;
  --right: #FF10F0;
}

*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

html, body {
  margin: 0;
  height: 100%;
}
