:host {
  display: inline-flex;
  padding: 10px;
}

button {
  flex: 1;
  padding: 0.5rem 1rem;
  cursor: pointer;
  background: white;
  border: 1px solid black;
}

button:not(:last-child) {
  border-right: none;
}

.selected {
  background-color: lightgray;
}
