:host {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 10px;
}

button {
  flex: 1;
  padding: 0.5rem 1rem;
  background: lightgray;
  border: 1px solid black;
  cursor: pointer;
}

button:not(:last-child) {
  border-right: none;
}

.selected {
  background-color: white;
}
