<div class="dialog-backdrop" (click)="onBackdropClick()"></div>

<div class="dialog-container">
  <header class="dialog-header">
    <h2>{{ imagesService.dialogTitle() }}</h2>

    <svg
      width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"
      class="dialog-close"
      (click)="close()"
    >
      <path fill-rule="evenodd" clip-rule="evenodd" d="M5.46967 5.46967C5.76256 5.17678 6.23744 5.17678 6.53033 5.46967L12 10.9393L17.4697 5.46967C17.7626 5.17678 18.2374 5.17678 18.5303 5.46967C18.8232 5.76256 18.8232 6.23744 18.5303 6.53033L13.0607 12L18.5303 17.4697C18.8232 17.7626 18.8232 18.2374 18.5303 18.5303C18.2374 18.8232 17.7626 18.8232 17.4697 18.5303L12 13.0607L6.53033 18.5303C6.23744 18.8232 5.76256 18.8232 5.46967 18.5303C5.17678 18.2374 5.17678 17.7626 5.46967 17.4697L10.9393 12L5.46967 6.53033C5.17678 6.23744 5.17678 5.76256 5.46967 5.46967Z" fill="#263340"/>
      <path fill-rule="evenodd" clip-rule="evenodd" d="M5.46967 5.46967C5.76256 5.17678 6.23744 5.17678 6.53033 5.46967L12 10.9393L17.4697 5.46967C17.7626 5.17678 18.2374 5.17678 18.5303 5.46967C18.8232 5.76256 18.8232 6.23744 18.5303 6.53033L13.0607 12L18.5303 17.4697C18.8232 17.7626 18.8232 18.2374 18.5303 18.5303C18.2374 18.8232 17.7626 18.8232 17.4697 18.5303L12 13.0607L6.53033 18.5303C6.23744 18.8232 5.76256 18.8232 5.46967 18.5303C5.17678 18.2374 5.17678 17.7626 5.46967 17.4697L10.9393 12L5.46967 6.53033C5.17678 6.23744 5.17678 5.76256 5.46967 5.46967Z" fill="#263340"/>
    </svg>
  </header>

  @if (imagesService.dialogContent()) {
    <section class="dialog-body">

      <!-- Setting -->
      @if (imagesService.dialogContentType() === 'settings') {
        <div class="settings-content-wrapper">
          <div class="settings-block-label">Zobrazení mřížky</div>
          <span class="radios-wrapper">
            @for (gridMode of gridModeDictKeys; track gridMode) {
              <label class="radio">
                <input
                  type="radio"
                  name="grid-mode"
                  [checked]="gridMode === imagesService.gridRadio()"
                  (change)="imagesService.gridRadio.set(gridMode)"
                />
                <span class="grid-value">{{ gridModeDict[gridMode] }}</span>
              </label>
            }
          </span>
        </div>
      }

      <!-- Shortcuts -->
      @if (imagesService.dialogContentType() === 'shortcuts') {
        <div class="shortcuts-content-wrapper">
          <table cellspacing="0" cellpadding="0">
            <tr><th>Vybrat výřez</th><td>1, 2</td></tr>
            <tr><th>Vybrat při překrývání ten druhý výřez</th><td>Shift + MouseLeftClick</td></tr>
            <tr><th>Zrušit výběr výřezu</th><td>Esc</td></tr>
            <tr><th>Smazat výřez</th><td>Backspace, Delete</td></tr>
            <tr><th>Přidat výřez</th><td>P</td></tr>
            <tr><th>Změnit pozici výřezu (X, Y)</th><td>←, →, ↑, ↓</td></tr>
            <tr><th>Změnit šířku / výšku výřezu</th><td>Shift + ←, →, ↑, ↓</td></tr>
            <tr><th>Otočit výřez</th><td>A, S</td></tr>
            <!-- <tr><th>Změna o 10x víc (pozice, rozměr, otáčení)</th><td>Shift</td></tr> -->
            <tr><th>Přepnout zobrazení mřížky</th><td>M</td></tr>
            <tr><th>Přepnout zobrazení obrysu</th><td>O</td></tr>
            <tr><th>Přiblížit / oddálit / reset</th><td>Q, W, E</td></tr>
            <tr><th>Přiblížit na vybraný výřez</th><td>Shift + Přiblížit</td></tr>
            <tr><th>Předchozí / další sken</th><td>←, →, ↑, ↓, PageUp, PageDown</td></tr>
            <tr><th>Sken je OK</th><td>Enter</td></tr>
            <tr><th>Přepnout filter</th><td>F1, F2, F3, F4</td></tr>
            <tr><th>Přepnout filter počet výřezů</th><td>Alt / Cmd + 1, 2</td></tr>
            <tr><th>Reset mých změn ve skenu</th><td>Ctrl / Cmd + R</td></tr>
            <tr><th>Dokončit</th><td>Ctrl / Cmd + Enter</td></tr>
            <!-- <tr><th>Reset změn v dokumentu</th><td>Ctrl / Cmd + Shift + R</td></tr> -->
            <tr><th>Zobrazit klávesové zkratky</th><td>K</td></tr>
          </table>
        </div>
      }
    </section>
  } @else if (imagesService.dialogDescription()) {
    <p class="dialog-description single">{{ imagesService.dialogDescription() }}</p>
  }

  <footer class="dialog-footer">
    @for (btn of imagesService.dialogButtons(); track btn) {
      <span
        (click)="btn.action ? btn.action() : null; close()"
        class="button real-button"
        [class.tertiary]="!btn.primary"
        [class.primary]="btn.primary"
        [class.destructive]="btn.destructive"
      >
        {{ btn.label }}
      </span>
    }
  </footer>
</div>
