@mixin font($font-weight, $font-size, $line-height, $color) {
  font-family: 'IBM Plex Sans', sans-serif;
  letter-spacing: 0%;
  font-weight: $font-weight;
  font-size: $font-size;
  line-height: $line-height;
  color: $color;
}

.dialog-backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.45);
  z-index: 5000;
}

.dialog-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--bg-base);
  padding: var(--spacing-x5) var(--spacing-x6) var(--spacing-x4);
  width: min(90dvw, 680px);
  border-radius: var(--spacing-x1);
  z-index: 6000;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-x4);
}

.dialog-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  h2 {
    @include font(450, var(--font-size-x3), var(--spacing-x8), var(--text-base));
  }
}

.dialog-body {
  .dialog-description {
    margin-bottom: var(--spacing-x2);
    @include font(350, var(--font-size-x2), var(--spacing-x6), var(--text-base));
  }
}

.dialog-close {
  cursor: pointer;
}

.dialog-footer {
  display: flex;
  justify-content: center;
  gap: var(--spacing-x4);
}
