<div
  class="dialog-backdrop"
  [class.open]="uiSvc.dialogOpen()"
  (click)="onBackdropClick()"
></div>

<div
  class="dialog-container"
  [class.open]="uiSvc.dialogOpen()"
>
  <header class="dialog-header">
    <h2>{{ uiSvc.dialogTitle() }}</h2>

    <svg
      width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"
      class="dialog-close"
      (click)="close()"
    >
      <path fill-rule="evenodd" clip-rule="evenodd" d="M5.46967 5.46967C5.76256 5.17678 6.23744 5.17678 6.53033 5.46967L12 10.9393L17.4697 5.46967C17.7626 5.17678 18.2374 5.17678 18.5303 5.46967C18.8232 5.76256 18.8232 6.23744 18.5303 6.53033L13.0607 12L18.5303 17.4697C18.8232 17.7626 18.8232 18.2374 18.5303 18.5303C18.2374 18.8232 17.7626 18.8232 17.4697 18.5303L12 13.0607L6.53033 18.5303C6.23744 18.8232 5.76256 18.8232 5.46967 18.5303C5.17678 18.2374 5.17678 17.7626 5.46967 17.4697L10.9393 12L5.46967 6.53033C5.17678 6.23744 5.17678 5.76256 5.46967 5.46967Z" fill="#263340"/>
      <path fill-rule="evenodd" clip-rule="evenodd" d="M5.46967 5.46967C5.76256 5.17678 6.23744 5.17678 6.53033 5.46967L12 10.9393L17.4697 5.46967C17.7626 5.17678 18.2374 5.17678 18.5303 5.46967C18.8232 5.76256 18.8232 6.23744 18.5303 6.53033L13.0607 12L18.5303 17.4697C18.8232 17.7626 18.8232 18.2374 18.5303 18.5303C18.2374 18.8232 17.7626 18.8232 17.4697 18.5303L12 13.0607L6.53033 18.5303C6.23744 18.8232 5.76256 18.8232 5.46967 18.5303C5.17678 18.2374 5.17678 17.7626 5.46967 17.4697L10.9393 12L5.46967 6.53033C5.17678 6.23744 5.17678 5.76256 5.46967 5.46967Z" fill="#263340"/>
    </svg>
  </header>

  @if (uiSvc.dialogContent()) {
    <section class="dialog-body">
      @let canWriteTitle = authSvc.canWriteTitle();

      <!-- Setting -->
      @if (uiSvc.dialogContentType() === 'settings') {
        <div class="settings-content-wrapper">
          @if (canWriteTitle) {
            <div class="settings-block">
              <div class="settings-block-label">Zobrazení mřížky</div>
              <span class="radios-wrapper">
                @for (gridMode of gridModeDictKeys; track gridMode) {
                  <label class="radio">
                    <input
                      type="radio"
                      name="grid-mode"
                      [checked]="gridMode === edtSvc.gridRadio()"
                      (change)="edtSvc.gridRadio.set(gridMode)"
                    />
                    <span class="radio-value">{{ gridModeDict[gridMode] }}</span>
                  </label>
                }
              </span>
            </div>
            <div class="settings-block">
              <label class="settings-block-label toggle-switch">
                <input
                  type="checkbox"
                  [checked]="!edtSvc.outlineTransparent"
                  (click)="edtSvc.toggleOutline()"
                />
                <span class="slider"></span>
                Zobrazení obrysu vybraného výřezu
              </label>
            </div>
            <div class="settings-block">
              <div class="settings-block-label">Barva clony</div>
              <span class="radios-wrapper">
                @for (dimColor of dimColorDictKeys; track dimColor) {
                  <label class="radio">
                    <input
                      type="radio"
                      name="dim-color"
                      [checked]="dimColor === edtSvc.dimRadio()"
                      (change)="edtSvc.dimRadio.set(dimColor)"
                    />
                    <span class="radio-value">{{ dimColor }}</span>
                  </label>
                }
              </span>
            </div>
          }
          <div class="settings-block last">
            <div class="settings-block-label">Aktivní filtry při startu aplikace</div>
            <div class="sublabel">Typ skenů</div>
            <span class="radios-wrapper">
              @for (scanType of filterScanTypeStartDictKeys; track scanType) {
                <label class="radio">
                  <input
                    type="radio"
                    name="scan-type"
                    [checked]="scanType === edtSvc.scanTypeRadio()"
                    (change)="edtSvc.scanTypeRadio.set(scanType)"
                  />
                  <span class="radio-value">{{ filterScanTypeStartDict[scanType] }}</span>
                </label>
              }
            </span>
            <div class="sublabel last-sublabel">Počet výřezů</div>
            <span class="radios-wrapper">
              @for (pageNumber of filterPageNumberStartDictKeys; track pageNumber) {
                <label class="radio">
                  <input
                    type="radio"
                    name="page-number"
                    [checked]="pageNumber === edtSvc.pageNumberRadio()"
                    (change)="edtSvc.pageNumberRadio.set(pageNumber)"
                  />
                  <span class="radio-value">{{ filterPageNumberStartDict[pageNumber] }}</span>
                </label>
              }
            </span>
          </div>
        </div>
      }

      <!-- Shortcuts -->
      @if (uiSvc.dialogContentType() === 'shortcuts') {
        <div class="shortcuts-content-wrapper">
          <table cellspacing="0" cellpadding="0">
            @if (canWriteTitle) {
              <tr><th>Vybrat výřez</th><td>1, 2</td></tr>
              <tr><th>Vybrat při překrývání ten druhý výřez</th><td>Shift + MouseLeftClick</td></tr>
              <tr><th>Zrušit výběr výřezu</th><td>Esc</td></tr>
              <tr><th>Smazat výřez</th><td>Backspace, Delete</td></tr>
              <tr><th>Přidat výřez</th><td>P</td></tr>
              <tr><th>Změnit pozici výřezu (X, Y)</th><td>←, →, ↑, ↓</td></tr>
              <tr><th>Změnit šířku / výšku výřezu</th><td>Shift + ←, →, ↑, ↓</td></tr>
              <tr><th>Otočit výřez</th><td>A, S</td></tr>
              <!-- <tr><th>Změna o 10x víc (pozice, rozměr, otáčení)</th><td>Shift</td></tr> -->
              <tr><th>Přepnout zobrazení mřížky</th><td>M</td></tr>
              <tr><th>Přepnout zobrazení obrysu</th><td>O</td></tr>
              <tr><th>Přepnout barvu clony</th><td>C</td></tr>
            }
            @if (canWriteTitle) { <tr><th>Přiblížit / oddálit / vybraný výřez / reset</th><td>Q, W, E, R</td></tr> }
            @else { <tr><th>Přiblížit / oddálit / reset</th><td>Q, W, R</td></tr> }
            <!-- <tr><th>Přiblížit na vybraný výřez</th><td>Shift + Q</td></tr> -->
            <tr><th>Předchozí / další sken</th><td>←, ↑, PageDown / Enter, →, ↓, PageUp</td></tr>
            <!-- <tr><th>Přesunout sken do OK</th><td>Enter</td></tr> -->
            <tr><th>Přepnout filter</th><td>F1, F2, F3, F4</td></tr>
            <tr><th>Přepnout filter počet výřezů</th><td>Alt / Cmd + 1, 2</td></tr>
            @if (canWriteTitle) {
              <tr><th>Reset mých změn ve skenu</th><td>Ctrl / Cmd + R</td></tr>
              <tr><th>Dokončit</th><td>Ctrl / Cmd + Enter</td></tr>
              <!-- <tr><th>Reset změn v dokumentu</th><td>Ctrl / Cmd + Shift + R</td></tr> -->
            }
            <tr><th>Zobrazit klávesové zkratky</th><td>K</td></tr>
          </table>
        </div>
      }

      <!-- New group -->
      @if (uiSvc.dialogContentType() === 'new-group') {
        <div class="new-group-content-wrapper">
          <div class="many-blocks">
            <div class="block">
              <label
                for="new-group-name"
                class="above-input"
              >
                NÁZEV
                <input
                  id="new-group-name"
                  name="new-group-name"
                  type="text"
                  placeholder="Název"
                  [(ngModel)]="dashSvc.newGroupName"
                  (input)="dashSvc.checkNewGroupNameUniqueness()"
                />
              </label>
              @let newGroupNameError = dashSvc.newGroupNameError();
              @if (newGroupNameError) {
                <span class="error">{{ newGroupNameError }}</span>
              }
            </div>
            <div class="block">
              <label
                for="new-group-description"
                class="above-input"
              >
                POPIS
                <input
                  id="new-group-description"
                  name="new-group-description"
                  type="text"
                  placeholder="Popis"
                  [(ngModel)]="dashSvc.newGroupDescription"
                />
              </label>
            </div>
          </div>
        </div>
      }

      <!-- New title -->
      @if (uiSvc.dialogContentType() === 'new-title') {
        <div class="new-title-content-wrapper">
          <div class="block">
            <label class="above-input" for="new-title-name">
              NÁZEV KNIHY
              <input
                id="new-title-name"
                name="new-title-name"
                type="text"
                [(ngModel)]="dashSvc.newTitleName"
                (input)="dashSvc.checkNewTitleName()"
              />
            </label>
            @let newTitleNameError = dashSvc.newTitleNameError();
            @if (newTitleNameError) {
              <span class="error">{{ newTitleNameError }}</span>
            }
          </div>

          <div class="block">
            <label class="above-input select">
              AI MODEL
              <app-select
                [(ngModel)]="dashSvc.selectedModelId"
                [inputName]="'model'"
                [options]="dashSvc.availableModels()"
                [usedIn]="dashSvc.selectedModelUsed()"
                (usedOut)="dashSvc.onSelectModelUsed($event)"
              ></app-select>
            </label>
          </div>

          <div class="block">
            <label class="above-input upload-wrapper">
              SKENY
              @let files = dashSvc.files();
              <app-upload
                (filesSelected)="dashSvc.uploadFiles($event)"
                [h3]="
                  files.length === 0
                  ? 'Přetáhněte sem'
                  : `Vybrán${[2, 3, 4].includes(files.length) ? 'y' : files.length === 1 ? '' : 'o' } ${ files.length } sken${ [2, 3, 4].includes(files.length) ? 'y' : files.length === 1 ? '' : 'ů' }. Chcete sem přetáhnout další?`
                "
                formatsAndSizeText="JPEG a PNG formáty, až do 2 MB"
                [btnLabel]="`Vybrat ${files.length > 0 ? 'další ' : ''}skeny`"
              >
              </app-upload>
            </label>
            @let uploadFilesError = dashSvc.uploadFilesError();
            @if (uploadFilesError) {
              <span class="error">{{ uploadFilesError }}</span>
            }
          </div>
        </div>
      }

      <!-- New user -->
      @if (uiSvc.dialogContentType() === 'new-user') {
        <div class="new-user-content-wrapper">
          <div class="block">
            <label>ZÁKLADNÍ ÚDAJE</label>
            <label for="new-user-fullname">
              <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M8 1.83334C6.43519 1.83334 5.16667 3.10187 5.16667 4.66668C5.16667 6.23148 6.43519 7.50001 8 7.50001C9.56481 7.50001 10.8333 6.23148 10.8333 4.66668C10.8333 3.10187 9.56481 1.83334 8 1.83334ZM4.16667 4.66668C4.16667 2.54959 5.88291 0.833344 8 0.833344C10.1171 0.833344 11.8333 2.54959 11.8333 4.66668C11.8333 6.78377 10.1171 8.50001 8 8.50001C5.88291 8.50001 4.16667 6.78377 4.16667 4.66668Z" />
                <path fill-rule="evenodd" clip-rule="evenodd" d="M1.77344 14.6667C1.77344 11.7194 4.66485 9.50001 8.0001 9.50001C11.3354 9.50001 14.2268 11.7194 14.2268 14.6667C14.2268 14.9428 14.0029 15.1667 13.7268 15.1667C13.4506 15.1667 13.2268 14.9428 13.2268 14.6667C13.2268 12.4539 10.9849 10.5 8.0001 10.5C5.01535 10.5 2.77344 12.4539 2.77344 14.6667C2.77344 14.9428 2.54958 15.1667 2.27344 15.1667C1.9973 15.1667 1.77344 14.9428 1.77344 14.6667Z" />
              </svg>
              <input
                id="new-user-fullname"
                name="new-user-fullname"
                type="text"
                placeholder="Jméno"
                [(ngModel)]="dashSvc.newUserFullname"
                (input)="dashSvc.checkNewUserName()"
              />
            </label>
            @let newUserNameError = dashSvc.newUserNameError();
            @if (newUserNameError) {
              <span class="error">{{ newUserNameError }}</span>
            }
            <label for="new-user-email">
              <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M2.5899 3.49141C2.1366 3.91233 1.83301 4.59531 1.83301 5.66668V10.3333C1.83301 11.4047 2.1366 12.0877 2.5899 12.5086C3.04991 12.9358 3.74299 13.1667 4.66634 13.1667H11.333C12.2564 13.1667 12.9494 12.9358 13.4094 12.5086C13.8628 12.0877 14.1663 11.4047 14.1663 10.3333V5.66668C14.1663 4.59531 13.8628 3.91233 13.4094 3.49141C12.9494 3.06425 12.2564 2.83334 11.333 2.83334H4.66634C3.74299 2.83334 3.04991 3.06425 2.5899 3.49141ZM1.90945 2.75861C2.61611 2.10243 3.58969 1.83334 4.66634 1.83334H11.333C12.4097 1.83334 13.3832 2.10243 14.0899 2.75861C14.8033 3.42102 15.1663 4.40471 15.1663 5.66668V10.3333C15.1663 11.5953 14.8033 12.579 14.0899 13.2414C13.3832 13.8976 12.4097 14.1667 11.333 14.1667H4.66634C3.58969 14.1667 2.61611 13.8976 1.90945 13.2414C1.19608 12.579 0.833008 11.5953 0.833008 10.3333V5.66668C0.833008 4.40471 1.19608 3.42102 1.90945 2.75861Z" />
                <path fill-rule="evenodd" clip-rule="evenodd" d="M11.7237 5.68797C11.896 5.90373 11.8608 6.21835 11.6451 6.39069L9.55776 8.05785C8.68883 8.74962 7.30384 8.74962 6.43492 8.05785L6.43368 8.05687L4.35369 6.3902C4.13819 6.21753 4.10348 5.90285 4.27615 5.68736C4.44882 5.47186 4.7635 5.43715 4.97899 5.60982L7.05834 7.27596C7.56275 7.67701 8.43043 7.67692 8.93468 7.27569L11.021 5.60933C11.2367 5.437 11.5514 5.4722 11.7237 5.68797Z" />
              </svg>
              <input
                id="new-user-email"
                name="new-user-email"
                type="email"
                placeholder="E-mail"
                [(ngModel)]="dashSvc.newUserEmail"
                (input)="dashSvc.checkNewUserEmail()"
              />
            </label>
            @let newUserEmailError = dashSvc.newUserEmailError();
            @if (newUserEmailError) {
              <span class="error">{{ newUserEmailError }}</span>
            }
          </div>
        </div>
      }
    </section>
  } @else if (uiSvc.dialogDescription()) {
    <p class="dialog-description single">{{ uiSvc.dialogDescription() }}</p>
  }

  <footer class="dialog-footer">
    @for (btn of uiSvc.dialogButtons(); track btn.label + '|' + (btn.primary ? 'P' : 'S') + '|' + (btn.destructive ? 'D' : 'N')) {
      <span
        (click)="btn.action ? btn.action() : close()"
        class="button real-button"
        [class.tertiary]="!btn.primary"
        [class.primary]="btn.primary"
        [class.destructive]="btn.destructive"
      >
        {{ btn.label }}
      </span>
    }
  </footer>
</div>
